
header img{
    width:50px;
}

main {
    display:flex;
    flex-direction: column;
    margin: auto;
    min-width: 90vw;
    overflow: hidden;
    align-items: center;
    gap: 50px;
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #FFFDFA;
    
}

.navbar {
    background-color: #0B0C0C;
}

#menu-title.sticky {
    padding-bottom: 45px;
}

#menu-nav.sticky {
    position: fixed;
    top: 76px;
    right: 10vw;
    left: 10vw;
    z-index: 1;

    background-color: rgb(195, 221, 48);
    box-shadow: 0.1rem 0.1rem 0.5rem #0B0C0C;
    border-radius: 8px;
}



#logo {
    width: 250px;
}

.map-container {
    display:flex;
    margin:auto;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;
    gap:0.25rem;
}


#contact {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin:auto;
}

#contact-text {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    text-align:left;
}

.fb-page {
    margin:auto;
    width:18rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu{
    margin: 1rem;
    max-width: 750px;
    align-content: stretch;
}

main .nav-link {
    color: #27251F;
}

main .nav-link.newActive {
    background-color: rgb(223, 230, 184);
}

#menu h1 {
    text-align: center;
}
.card {
    
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex:auto;
    box-shadow: -0.5rem .5rem 0.1rem #ee2363;
    scroll-margin-top: 150px;
}


h3 {
    display: inline-block;
    background-color: #F7D11Dff;
    padding: 0.5rem;
    border: 1px solid #0B0C0C;
    border-radius: 8px;
}
.sub-card {
    display: grid;
    padding-top: 1rem;
    border-top-style: dashed;
    border-top-width: 1px;
    
}

.sub-card p {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:1;
    grid-column-end: 4;
}

.sub-card ul {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap :wrap;
    gap: 5px;

}
