
header img{
    width:50px;
}

main {
    display:flex;
    flex-direction: column;
    margin: auto;
    min-width: 90vw;
    overflow: hidden;
    align-items: center;
    gap: 50px;
    padding-top:5rem;
    padding-bottom: 5rem;
    background-color: #FFFEFC;
}

.navbar {
    background-color: #27251F;
}
.map-container {
    display:flex;
    flex-direction:column;
    gap:10px;
}
#contact {
    display:flex;
    flex-direction:column;
    align-items: center;
    width:90vw;
    margin:auto;
}

#contact-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    text-align:center;
}

.fb-page {
    margin:auto;
    width:18rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex:auto;
    box-shadow: -0.5rem .5rem 0.1rem red;
}
.sub-card {
    display: grid;
    padding-top: 1rem;
    border-top-style: dashed;
    border-top-width: 1px;
}

.sub-card p {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:1;
    grid-column-end: 4;
}

.sub-card ul {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap :wrap;
    gap: 5px;

}