<section id="cheese" class="sub-card">
<h6>{{'1 Topping'.small}}</h6>
<p>Just cheesy goodness.</p>
<ul>
  <li>{{Cheese.small}}(S)</li>
  <li>{{Cheese.medium}}(M)</li>
  <li>{{Cheese.large}}(L)</li>
  <li>{{Cheese.xLarge}}(XL)</li>
</ul>
</section>
