
header img{
    width:50px;
}

main {
    display:flex;
    flex-direction: column;
    margin: auto;
    min-width: 90vw;
    overflow: hidden;
    align-items: center;
    gap: 50px;
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #FFFDFA;
    
}

#bg-img-div {
    width: 100vw;
    height: 95vh;
    box-shadow: inset 0 0 30px black;
    background-image: url('../img/pizza\ pie.jpg');
    background-position: center;
    background-size: cover;
}

#test {
    display: flex;
    width:100vw;
    overflow:hidden;
}

.bg-img-sequence {
    width: 100vw;
    height:95vh;
    background-position:center; 
    background-repeat: no-repeat;
    background-size: 400%;
    overflow: hidden;
}

#img1 {
    background-image: url('../img/pizza\ pie.jpg');
    background-size: 500%;
}

#img2 {
    background-image: url('../img/works\ pizza.jpg');
}

#img3 {
    background-image: url('../img/meatlovers\ supreme.jpg');
}

.navbar {
    background-color: #0B0C0C;
}

#menu-title.sticky {
    padding-bottom: 45px;
}

#menu-nav.sticky {
    position: fixed;
    top: 76px;
    right: 10vw;
    left: 10vw;
    z-index: 1;

    background-color: rgb(195, 221, 48);
    box-shadow: 0.1rem 0.1rem 0.5rem #0B0C0C;
    border-radius: 8px;
}



#logo {
    width: 250px;
}


#location-header {
    display: flex;
    justify-items: center;
    align-items:center;
    padding: 50px 0 0 0;
}

.map-container {
    display:flex;
    width: 90vw;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contact {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95vw;
    gap: 0 0 2rem 0;
    margin:auto;
}

#contact-text {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    text-align:left;
}

#social-media {
    margin:auto;
}
#fb, #instagram{
    width: 4rem;
    padding-left: 8px;
}

#tiktok {
    width: 5rem;
}

.fb-page {
    margin:auto;
    width:18rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu{
    max-width: 750px;
    padding-top: 200px;
    align-content: stretch;
    width: 90vw;
}

main .nav-link {
    color: #27251F;
}

main .nav-link.newActive {
    background-color: rgb(223, 230, 184);
}

#menu h1 {
    text-align: center;
}
.card {
    
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex:auto;
    box-shadow: -0.5rem .5rem 0.1rem #ee2363;
    scroll-margin-top: 150px;
}


h3 {
    display: inline-block;
    background-color: #F7D11Dff;
    padding: 0.5rem;
    border: 1px solid #0B0C0C;
    border-radius: 8px;
}
.sub-card {
    display: grid;
    padding-top: 1rem;
    border-top-style: dashed;
    border-top-width: 1px;
    
}

.sub-card p {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:1;
    grid-column-end: 4;
}

.sub-card ul {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap :wrap;
    gap: 5px;

}

footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

#fb-footer, #instagram-footer{
    width:2rem;
}

#tiktok-footer {
    width: 2.5rem;
}

@media screen and (min-width: 850px) {
    #contact {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 95vw;
        padding: 8rem 0;
        gap: 2rem;
        margin:auto;
    }
}
